*{
    font-family: Arial,Verdana, sans-serif;
}

body {
    font-family: Verdana;
    background-color: grey;
    font-size: 20px;
    color: white;
}
h1{
    font-size: 48px;
}

/*Unvisited Link*/
a:link {
    color:yellow;
}

/*Visited Link */

a:visited {
    color:yellow
}

/* Hover over link */

a:hover {
    color:yellow;
}